h {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 25px;
}

#comments {
    border-style: solid;
    border-color: #b2ad7d;
    border-width: 1px;
    margin: 15px 10px;
    width: 700px;
    padding: 5px 310px;
    text-align: center;
    font-size: 25px;
    background-color: #f2f4c0;
}

section {
    font-style: italic;
}

article {
    border-style: solid;
    border-color: #b2ad7d;
    border-width: 1px;
    margin: 15px 10px;
    width: 700px;
    padding: 5px 15px;
    background-color: #f2f4c0;
}

.comment {
    color: #4c7658;
}
body {
    background-color: #e4e978;
}