@media (width: 360px) {
    article {
        color: red;
    }
}

@media (min-width: 35rem) {
    article {
        color: yellow;
    }
}

@media (man-width: 50px) {
    article {
        border: 2px solid blue;
    }
}